/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.

*/

.page {
  font-family: var(--font-primary);
  background: var(--gradient-pattern);
  background-size: cover;
  background-attachment: fixed;
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-variation-settings: "wght"var(--font-weight-normal, 400);
}

.container {
  margin: 0 auto;
  max-inline-size: 100%;
}

/* стили для шапки сайта */


.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-block-start: 102px;
  margin-block-end: 100px;
  border: 2px solid var(--color-primary);
  font-family: var(--font-secondary);
  line-height: normal;
  text-transform: uppercase;
  background-color: var(--color-secondary);
}

.header__logo {
  max-width: max-content;
  text-decoration: none;
}

.header__logo-text {
  display: block;
  margin-block-start: clamp(7.5rem, 7.1479rem + 1.5023vw, 8.5rem);
  margin-block-end: 20px;
  color: var(--color-primary);
  font-family: var(--font-secondary);
  font-weight: var(--font-weight-normal);
  font-size: var(--logo-text-size);
  text-transform: uppercase;
}

.header__title {
  margin-block-end: 20px;
  color: var(--color-primary);
  font-family: var(--font-secondary);
  font-weight: var(--font-weight-normal);
  font-size: var(--title-size);
  text-transform: uppercase;
}

/* стили для меню  */

.theme-menu__list {
  display: flex;
  flex-direction: column;
  gap: 14px;
  margin-inline-start: 20px;
  margin-block-end: 20px;
}

.theme-menu__button {
  position: relative;
  border: none;
  padding: 0;
  color: var(--color-primary);
  font-family: var(--font-secondary);
  font-weight: var(--font-weight-normal);
  font-size: var(--text-small);
  text-transform: uppercase;
  background-color: var(--color-secondary);
  transition: opacity 0.3s ease;
  cursor: pointer;
}

.theme-menu__button::after {
  content: "";
  position: absolute;
  bottom: -3px;
  left: 0;
  display: block;
  width: 100%;
  height: 2px;
  background-color: var(--color-primary);
  transition: scale 0.3s ease;
  transform-origin: left;
  scale: 0;
}

.theme-menu__button:hover {
  opacity: 0.6;
}

.theme-menu__button:focus {
  outline: none;
  opacity: 0.6;
}

.theme-menu__button:focus-visible {
  outline: none;
  opacity: 0.6;
}

.theme-menu__button:focus-visible::after {
  outline: none;
  scale: 1;
}

.theme-menu__button:disabled {
  opacity: 0.6;
  pointer-events: none;
}


/* стили для карточек  */

.cards {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.card {
  border: 2px solid var(--color-primary);
  padding-bottom: 25px;
  background-color: var(--color-secondary);
}

.card__title {
  padding: 5px 10px;
  color: var(--color-primary);
  font-family: var(--font-primary);
  font-size: var(--text-size);
  font-variation-settings: "wght"var(--font-weight-bold);
}

.card__image-wrap {
  position: relative;
  border-top: 2px solid var(--color-primary);
  border-bottom: 2px solid var(--color-primary);
}

.card__label {
  position: absolute;
  top: 25px;
  right: 11px;
  z-index: 1;
  opacity: 0.5;
  color: var(--color-primary);
  font-family: var(--font-secondary);
  font-size: var(--text-small);
  text-shadow: 0 0 1px var(--color-secondary);
  mix-blend-mode: hard-light;
}

.card__image {
  display: block;
  width: 100%;
  object-fit: cover;
  object-position: center;
  aspect-ratio: 1 / 1;
}

.card__text-wrap {
  display: flex;
  flex-direction: column;
  gap: 27px;
  padding: 25px;
}

.card__text {
  color: var(--color-primary);
  font-family: var(--font-primary);
  font-weight: var(--font-weight-bold);
  font-size: var(--text-size);
  font-style: normal;
  line-height: 1.2;
}

.card__controls {
  display: flex;
  flex-direction: row;
  justify-content: end;
  align-items: center;
  padding-right: 25px;
  padding-left: 25px;
}

.card__icon-button {
  display: flex;
  height: fit-content;
  border: 2px solid transparent;
  background: var(--color-secondary);
  transition: border-color 0.3s ease;
  cursor: pointer;
  appearance: none;
}

.card__icon-button:focus {
  outline: none;
}

.card__icon-button:focus-visible {
  border-color: var(--color-primary);
  outline: none;
}

.card__like-button {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 130px;
  height: max-content;
}

.like-icon {
  box-sizing: border-box;
  height: min-content;
  block-size: 36px;
  inline-size: 34px;
}

/* стили для кнопки */

.button {
  position: relative;
  justify-content: center;
  box-sizing: border-box;
  border: 2px solid var(--color-primary);
  padding: 10px 35px;
  font-family: var(--font-secondary);
  font-weight: var(--font-weight-normal);
  font-size: var(--text-small);
  line-height: 0.9;
  background-color: var(--color-secondary);
  transition: box-shadow 0.3s ease;
  cursor: pointer;
  appearance: none;
}

.button::before {
  content: "";
  position: absolute;
  inset: 0;
  z-index: 0;
  background-color: var(--color-primary);
  transition: transform 0.5s ease-in-out;
  transform: scaleX(0);
  transform-origin: left;
}

.button:hover::before {
  transform: scaleX(1);
}

.button:focus {
  outline: none;
}

.button:focus-visible {
  box-shadow: 2px 2px 0px 0px var(--color-primary);
  outline: none;
}

.button__icon {
  display: flex;
  width: 28px;
  height: 28px;
  color: var(--color-button-text);
  mix-blend-mode: difference;
}

.button__text {
  display: block;
  height: max-content;
  color: var(--color-button-text);
  font-family: var(--font-secondary);
  font-weight: var(--font-weight-normal);
  font-size: var(--text-small);
  font-style: normal;
  line-height: 0.9;
  mix-blend-mode: difference;
}

/* кнопка сохранения */

.save {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin: 0 auto;
  margin-block-start: 48px;
  margin-block-end: 102px;
}

/* стили для popup */

.dialog {
  box-sizing: border-box;
  max-width: 341px;
  border: 2px solid var(--color-primary);
  padding: 30px 40px;
  color: var(--color-primary);
  background: var(--color-secondary);
}

.dialog[open] {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 30px;
}

.dialog::backdrop {
  background-color: rgba(0, 0, 0, 0.75);
}

.dialog__content {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
}

.dialog__icon {
  flex: none;
  width: 39px;
  height: 39px;
}

.dialog__text {
  color: var(--color-primary);
  font-family: var(--font-secondary);
  font-weight: var(--font-weight-normal);
  font-size: var(--text-small);
  font-style: normal;
  line-height: 1.5;
  text-transform: uppercase;
}

.dialog__button {
  width: 100%;
}

.button__open {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;
  width: fit-content;
  padding: 15px 20px;
}

/* фильтры */


.filter-hue-rotate {
  filter: hue-rotate(-60deg);
}

.filter-contrast-rotate {
  filter: contrast(90%) hue-rotate(90deg) saturate(88%);
}

.filter-grayscale-ss {
  filter: grayscale(60%) sepia(85%) saturate(90%);
}

.filter-saturate {
  filter: saturate(200%);
}

.filter-invert {
  filter: invert(20%);
}

.filter-sepia {
  filter: sepia(80%);
}

.filter-blur {
  filter: blur(2px);
}


@media (width >=696px) {
  .container {
    max-inline-size: clamp(700px, 100%, var(--max-container-width));
  }

  .button__open {
    flex-direction: row;
  }

  .button__icon {
    width: 21px;
    height: 21px;
  }

  .dialog {
    max-width: 353px;
    padding: 30px;
  }
}

@media (width < 374px) {
  :root {
    --logo-text-size: clamp(2.475rem, 2.5357rem + 1.6964vw, 4.0625rem);
  }
}

@supports ((-webkit-text-stroke: 1px var(--color-secondary)) or (text-stroke: 1px var(--color-secondary))) {
  .card__label {
    text-shadow: none;
    -webkit-text-stroke: 1px var(--color-secondary);
    text-stroke: 1px var(--color-secondary);
  }
}